---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import Accordion from "../../components/Accordion.astro";

const translationPosts = await getCollection("translation");
const thequalityPosts = await getCollection("thequality");
const readingsPosts = await getCollection("readings");
const sortedThequalityPosts = thequalityPosts.sort((a, b) => a.data.order - b.data.order);
const sortedTranslationPosts = translationPosts.sort((a, b) => a.data.order - b.data.order);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>


    <section class="mt-8">
      <h2 class="mb-4 text-xl font-semibold">Introduction to the Awakened One's Teaching</h2>
      <div class="flex flex-col gap-3">
        {
          sortedThequalityPosts.map(async (post) => {
            const { Content } = await post.render();
            return (
              <Accordion title={post.data.title} description={post.data.description}>
                <Content />
              </Accordion>
            );
          })
        }
      </div>
    </section>

    <section class="mt-8">
      <h2 class="mb-4 text-xl font-semibold">Translations</h2>
      <div class="flex flex-col gap-3">
        {
          sortedTranslationPosts.map(async (post) => {
            const { Content } = await post.render();
            return (
              <Accordion title={post.data.title} description={post.data.description}>
                <Content />
              </Accordion>
            );
          })
        }
      </div>
    </section>

    <section class="mt-8">
      <h2 class="mb-4 text-xl font-semibold">Further Readings</h2>
      <div class="flex flex-col gap-3">
        {
          readingsPosts.map(async (post) => {
            const { Content } = await post.render();
            return (
              <Accordion title={post.data.title} description={post.data.description}>
                <Content />
              </Accordion>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>

<script src="../../scripts/accordion.js"></script>
